<h1 class=text-success>Stupid Coach</h1>
<p>---------------------------------------------------</p>
<p class="text-white bg-black"><%= @question %></p>
<p class="text-white bg-black">-You</p>
<br>
<p><%= @answer %></p>
<p>-Coach</p>
<br>
<br>
<%= link_to "Ask a new question!", "/ask" %>
