<h1>Stupid Coaching</h1>
<div class="card">
  <div class="card-body">
    Ask your coach anything:
  </div>
</div>
<form action="answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!"class="btn btn-danger">
</form>
